body{
  background-color: #f6f6f6;
  min-width: 650px;
  .header{
    height: 56px;
    width: 100%;
    padding: 0 150px;
    background-color: #55c500;
    color: #fff;
    display: flex;
    justify-content: space-between;
    &__title{
      font-size: 30px;
      line-height: 56px;
      &--text{
        text-decoration: none;
        color: #fff;
      }
    }
    &__right{
      &--btn{
        text-decoration: none;
        line-height: 56px;
        color: #fff;
        margin-left:15px;
      }
    }
  }
}
