body{
  background-color: #f6f6f6;
  min-width: 650px;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.blank{
  height: 20px;
  width: 100%;
  background-color: #f6f6f6;

}
