.footer {
  background: navy;
  width: 100%;
  bottom: 0; /*下に固定*/

}

.footer_rigth{
  color: white;  /* これ！！！ */

}
.footer_left{
  margin-right: auto;
  text-decoration: none;
}

.content_input{
  color: white;
  margin-left: 30px;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
  text-decoration: none;
}

.overview_input {
  font-size: 5px;
  color: white;
  margin-right: 20px;
}
