.footer {
  background: #232f3e;
  width: 100%;
  bottom: 0; /*下に固定*/
  text-align: right;
}

.content_input{
  color: white;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
  text-decoration: none;
  margin-right: 20px;
}

// .footer_left{
//   text-decoration: none;
//   display: inline-block;
// }

// .overview_input {
//   font-size: 5px;
//   color: white;
// }
