.footer {
  background: navy;
  width: 100%;
  bottom: 0; /*下に固定*/
  display: flex;
}
.footer_left{
  margin-left: 10px;
  color: white;  /* これ！！！ */

}
.footer_rigth{
  margin-right: 30px;
}

.content_input{
  color: white;
  margin-right: 30px;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;

}

small {
  font-size: 7px;
  color: white;

}
