.form{
  background-color: #fff;
  width: 70%;
  overflow: scroll;
  margin-top:20px;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;

}


.form_title {
  font-size: 30px;
  margin-bottom: 3px inset;
  border-style:#f6f6f6;
  text-align: center;
  font-weight: bold;
}
.main_post {
  min-height: 300px;
  border-top: 3px solid #eee;
  padding: 40px 40px 0;
}
.form-group {
  margin:10px 10px 30px 10px;
  padding-top: 10px;
  label {
  font-weight: 600;
  }
  .input-default {
    width: 100%;
    margin: 8px 0 0;
  }
  select {
    width: 100%;
  }
}



@mixin clearfix() {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.form-content {
  @include clearfix();
  padding: 40px;
  border-top: 1px solid gray;
}
.form{
  background-color: #fff;
  height: 100hv;
  width: 70%;
  overflow: scroll;
  margin-top:30px;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;
}

.form-require {
  background-color: #232f3e;
  margin: 2px 0 0 10px;
  padding: 2px 4px;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  vertical-align: top;
  font-weight: 600;
}

.select-wrap {
  margin: 8px 0 0;
  position: relative;
  background-color: white;
  height: 50px;
  }
.select-default {
  position: relative;
  z-index: 2;
  width: 500px;
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
.textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  background-color: white;
  font-size: 16px;
  line-height: 1.5;
}

.sale-contents {
  min-height: 300px;
  border-top: 1px solid #eee;
  padding: 40px 40px 0;
}
.required-item {
  line-height: 48px;
  margin-right: auto;
  label {
    font-weight: 600;
  }
  span {
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
}


.post{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.form_submit_bottun{
  color: white;
  background-color: #232f3e;
  border-radius: 100px;
  width: 200px;
  height: 30px;
  font-weight: bold;

}
