.header{
  height: 56px;
  width: 100%;
  padding: 0 150px;
  background-color: #232f3e;;
  color: #fff;
  display: flex;
  justify-content: space-between;

  &__title{
    font-size: 30px;
    line-height: 56px;
    margin-right: 10px;
    &--text{
      text-decoration: none;
      color: #fff;
    }
  }
  &__right{
    &--btn{
      text-decoration: none;
      line-height: 56px;
      color: #fff;
      margin-left:15px;
    }
  }
}

