.header1{
  height: 40px;
  width: 100%;
  background-color: #232f3e;
  display: flex;
  border-bottom: inset 2px #ff0000;
  display: flex; //横並び？
  justify-content: space-between;
}
.navbar.navbar-expand.navbar-light.up{
margin-left: 50px;
}

.header2{
  height: 37px;
  width: 100%;
  background-color: #232f3e;;
  display: flex; //横並び？
  justify-content: flex-end; //文字右寄せ
  position: relative;
}
.navbar.navbar-expand.navbar-light.down{
  text-align: right;
  transform: translateY(0%) //文字上寄せ
}

.border{
  padding:2px 0;
  border: 5px solid $accent;
  border-radius: 7px;
}
.yellor-border{
  padding:2px 0;
  border: 1px solid #f0ad4e;
  border-radius: 7px;

}
.nav-item.active{
  display: inline;
  padding: 0 10px;
  font-size: 12px;
}

//検索関連
.search-form {
  text-align: center;
  margin-right: 60px;
  .search-input {
    width: 400px;
    margin-right: 10px;
    padding:0 10px;
  }
  .search-btn {
    padding:0 10px;
  }
}

@media screen and (max-width: 812px) {
  .header1,.header2,.header3{
    width: 100%;
  }
  .navbar.navbar-expand.navbar-light.up{
    margin-left: 20px;
    }
}

// }
//   font-size: 30px;
//   line-height: 56px;
//   margin-right: 10px;
//   color: #fff;
//   .text{
//     text-decoration: none;
//     color: #fff;
//   }
// }
// .rigth__title{
//   &--btn{
//     text-decoration: none;
//     line-height: 56px;
//     color: #fff;
//     margin-left:15px;
//   }
// }

// header.header {
//   padding: 0.35em 0.625em 0.75em;
//   border-bottom: 1px solid $gray;
//   background-color: #fff;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 5;
//   height: 62px;
//   div.header__bar.row {
//     position: relative;
//     h1.grid-6 {
//       font-size: 20px;
//       line-height: 41px;
//       float: left;
//       a {
//         display: block;
//       }
//     }
//     div.grid-6 {
//       float: right;
//       text-align: right;
//       a.post {
//         @extend .btn;
//         width: 120px;
//         display: inline-left;
//         margin-left: 10px;
//       }
//     }
//   }
// }
// .btn {
//   padding:8px 20px;
//   font-size: 14px;
//   border: 2px solid $accent;
//   color: $accent;
//   font-weight: bold;
//   text-align: center;
//   border-radius: 3px;
//   display: inline-block;
//   &:hover {
//     border-color: lighten($accent, 15%);
//     color: lighten($accent, 15%);
//   }
// }
