body{
  background-color: #f6f6f6;
  min-width: 650px;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.blank{
  height: 20px;
  width: 100%;
  background-color: #f6f6f6;

}


.main{
  background-color: #fff;
  height: 600px;
  width: 70%;
  overflow: scroll;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;
}
