.main{
  // background-color: #fff;
  // // height: 600px;
  // overflow: scroll;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;
  position: relative;/*←相対位置*/
  // box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  background-color: #f6f6f6;
  min-width: 650px;

}
.show_main{
  margin: 0 auto 0;
  background-color: #fff;
  height: 100%;
  width: 750px;
  overflow: scroll;
  border: thin solid black;
}

//2つに分離するため設定した
.content_show_top{
  display: flex;
  justify-content: center;
  width: 700px;
  margin: 0 auto 0 ;
}

// アイコン 名前 時間
.show_main_left_top{
  margin-right: 5px;
}
.show_main_icon{
  padding: 5px;
  display: flex;
  &_left{
    padding-right: 10px;
    &_image{
      height: 120px;
      width: 120px;
      border: solid 1px;
    }
  }
}
.show_icon_image{
  height: 120px;
  width: 120px;
}

.show_main_name{
  margin-top: 50px;
  width: calc(100%-100px);
  &__top{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
  }
}
.show_main_time__bottom{
  font-size: 15px;
  color: #999;
  display: flex;
}
.show_main__time__bottom--date{
  margin-left: 0px;
  margin-top: 10px;
}

// 名前と登録日時
.content_right{
  margin: 5px;
  padding: 5px;
}


//ペンの種類、ペン回し歴
.show_main_rigth_top{
  margin-top: 40px;
  margin-left: 5px;
  width: 300px;
}
.content_show_posts{
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f8f8f8;
}
.tag_content{
  width: 80px;
  background-color: #eee;
  font-weight: 400;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}
.neme_content{
  width: 150px;
  text-align: center;
  border: 1px solid #dedede;
  font-size: 14px;
  color: black;
}
.category_font{
  color: black;
}



//動画関連のcss
.show_main_video_center{
  margin: 0 5px;
  padding: 5px;
}
// .content_right{
//   border: medium solid red;
//   margin: 5px;
//   padding: 5px;
// }
.content_show_video{
  text-align: center;
}
.main_show_video{
  width: 100%;
  margin: 5px 0 0;
}
#main_show_video_preview{
  width: 560px;
  height: 420px;
}

//コメント
.content_main_down{

  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 750px;
}
.user_show_contes_th{
  width: 15%;
}
.user_show_contes_tb{
  width: 85%;
  padding: 20px 20px 8px 20px; //上 右 下 左
  text-align: left;
}

//コメント機能
.comments-box {

  width: 700px;
  padding: 5px 15px 5px;
  background-color: #fff;
  margin: 10px auto;
  text-align: center;
  &__message {
    margin-bottom: 5px;
    padding: 0 10px;

    &__products{
      &__user {
        display: flex;
        img {
          border-radius: 50px;

        }
        &__name {
          margin: auto 10px;
          font-weight: bold;

        }
      }
      &__body {
        margin: 10px auto;
        position: relative;
        padding: 16px;
        background: #eef0f4;
        border-radius: 15px;
        line-height: 1.5;
        word-break: break-all;
        text-align: left;

        &__icons {
          margin: 5px 0 0;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          &__left {
            color: #808080;
          }
          &__right {
            color: #808080;
          }
        }
      }
    }
  }
}
#delete_btn{
  color: #808080;
}
.comment-area {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  resize: none;
  border-radius: 10px;

}
.caution-area {
  padding: 0 20px;
  font-size: 14px;
  background-color: #f8f8f8;
  margin: 10px 0 10px 0;
  text-align: center;
  width: 100%;
}
.comment-btn {
  position: relative;
  margin-top: 10px;
  &__submit {
    margin-top: 10px;
    line-height: 25px;
    background: #232f3e;
    border: 1px solid #232f3e;
    width: 300px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    color: white;
    font-weight:bold;
    cursor: pointer;
  }
  .fa-comment {
    position: absolute;
    top: 17px;
    left: 41%;
    color: #fff;
    cursor: pointer;
  }
}
//コメントのアイコン関連
#delete-btn {
  line-height: 48px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  width: 55%;
  height: 50px;
  border-radius: 100px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  &__text {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
  }
}


//いいね機能の位置設定
.products-box__option {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 700px;
  .favorite {
    margin: 5px 20px 0;
  }
  .slow_video{
    margin: 5px 20px 5px;
  }
  .optional {
    margin: 5px 20px 0;
    :hover {
      opacity: 0.8;
    }
    &__btn {
      font-size: 14px;
      &__link {
        padding: 6px 10px;
        display: inline-block;
        border-radius: 4px;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
      }
    }
  }
}
//いいねボタン
.like-border {
  text-decoration: none;
  color: #ea352d;
  padding: 5px  10px;
  border-radius: 40px;
  border: 1px solid #ea352d;
  cursor: pointer;
  .like-button {
    text-decoration: none;
    color: #ea352d;
    .heart {
      color: #ea352d;
    }
  }
}
.unlike-border {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 40px;
  border: 1px solid #333;
  cursor: pointer;
  .unlike-button {
    text-decoration: none;
    color: #333;
    .heart {
      color: #333;
    }
  }
}
#prev-frame,#next-frame{
  margin: 0 5px 5px 5px; //上 右 下 左
  padding:0 20px 0;
  border-radius: 40px;
  color: white;
  background-color: #232f3e;
  font-weight: 600;
  text-decoration: none;
}


.main_show_retrun{
  margin-top: 10px 0 10px; //上 左右 下
  padding: 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  }

  .show_main_return_bottun{
    // margin:2px 0 2px;
    color: white;
    text-align:center;
    line-height: 25px;
    background-color: #232f3e;
    border-radius: 50px;
    width: 300px;
    height: 25px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
