.main{
  // background-color: #fff;
  // // height: 600px;
  // overflow: scroll;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;
  min-height: 100vh;
  position: relative;/*←相対位置*/
  // box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  background-color: #f6f6f6;
}
.show_user{
  margin: 0 auto 0;
  background-color: #fff;
  height: 100%;
  width: 800px;
  overflow: scroll;
  border: thin solid #232f3e;
}

//2つに分離するため設定した
.content_main{
  display: flex;
  justify-content:center;
  width: 750px;
  margin: 0 auto;
}

//コメント
.content_main_down{
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 750px;
}

.user_show_contes_th{
  width: 15%;
}
.user_show_contes_tb{
  width: 85%;
  padding: 20px 20px 8px 20px; //上 右 下 左
  text-align: left;
}


//動画関連のcss
.content_left{
  margin: 5px;
  padding: 5px;
}
.content_right{
  margin: 5px;
  padding: 5px;
}
.content_video{
  text-align: center;
}
.user_show_video{
  width: 100%;
  margin: 10px 0 0;
}
#user_show_video_preview{
  width: 400px;
  height: 300px;
}


// アイコン 名前 時間
.content_icon{
  padding: 5px;
  display: flex;
  &_left{
    padding-right: 10px;
    &_image{
      height: 80px;
      width: 80px;
      border: solid 1px;
    }
  }
}
.content__right{
  margin-top: 10px;
  width: calc(100%-100px);
  &__top{
    font-size: 20px;
    font-weight: bold;
  }
}
.content__right__bottom{
  font-size: 15px;
  color: #999;
  display: flex;
}
.content__right__bottom--date{
  margin-left: 0px;
  margin-top: 10px;
}

// newで登録した内容
.content_posts{
  width: 100%;

}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f8f8f8;
}
tbody {
  tr {
    th {
      width: 40%;
      background-color: #eee;
      font-weight: 400;
      padding: 8px;
      border: 1px solid #dedede;
      font-size: 14px;
      text-align: center;
    }
    td {
      width: 60%;
      text-align: center;
      padding: 7px 15px;
      border: 1px solid #dedede;
      font-size: 14px;
    }
  }
}
.category_font{
  color: black;
}

.content_user_show{
  margin-top: 15px;
}

.user_show_retrun{
margin-top: 10px 0 0; //上 左右 下
padding: 5px 20px;
display: flex;
align-items: center;
justify-content: space-around;
}

.show_user_return_bottun{
  // margin:2px 0 2px;
  color: white;
  text-align:center;
  line-height: 20px;
  background-color: #232f3e;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}



