//about
.about {
  .p1 {
    width: 518px;
    margin: 0 auto;

    .heading_about {
      margin-bottom: 12px;
    }
  }

  .p2 {
    width: 498px;
    margin: 0 auto;
  }

  .p3 {
    width: 498px;
    margin: 0 auto;
  }

  .p4 {
    width: 500px;
    margin: 0 auto;
  }

  .p5 {
    width: 498px;
    margin: 0 auto;
  }

  .p6 {
    width: 498px;
    margin: 0 auto;
  }
}


