.blank
%footer.footer
  .footer_left
    %small
      Penspinning video posting 2020. Producer Kengo Matsuno
  .footer_rigth
    = link_to "利用規約", about_path, class: 'content_input'
    = link_to "プライバシーポリシー", inquiry_path ,class: 'content_input'
    = link_to "問い合わせ", contact_path ,class: 'content_input'




