.blank
%footer.footer
  .footer_content
    %ul
      %li
        = link_to "利用規約",'#' ,class: 'content_input'
      %li
        = link_to "プライバシーポリシー",'#',class: 'content_input'
      %li
        = link_to "問い合わせ",'#',class: 'content_input'





