.navigation
  .products-main
    %h2
      消去が完了しました
      .products-done__main__explanation
        = link_to "マイページに移動", "/users/#{current_user.id}", class: "all_return_bottun"
      .products-done__main__explanation
        = link_to "トップページに移動", root_path, class: "all_return_bottun"
