.navigation
  .products-main
    .products-main_title
      %h2
        投稿が完了しました
        .products-done__main__explanation
          = link_to "マイページへ戻る", "/users/#{current_user.id}", class: "all_return_bottun"
        .products-done__main__explanation
          = link_to "メインページへ戻る", root_path, class: "all_return_bottun"
